
@media (max-width: 1740px) {
    .loyalty_photo {
        grid-template: 460px / repeat(auto-fill, minmax(139px, 460px));
        justify-content: center;
    }
    .super_girl {
        margin-top: 15px;
        grid-column: 1 / 3;
        justify-self: center;
    }
}

@media (max-width: 1520px) {
    .container {
        max-width: 1520px;
    }
    .header_top {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 33px 3fr 1fr;
    }
    .header_top_text {
        width: 100%;
        height: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        background: #101010;
        text-align: right;
    }
    .header_top_text p {
        width: auto;
        margin: 0;
        margin-right: 15px;
        line-height: 33px;
    }
    .input_block {
        text-align: center;
    }
    input {
        width: 340px;
    }
    .logo {
        padding-left: 15px;
        grid-row: 2/3;
    }
    .tel_block {
        padding-right: 15px;
    }
    ul {
        grid-column: 1/3;
        justify-content: space-between;
        padding: 0 15px;
    }
    ul li {
        list-style-type: none;
    }
    .presentation_wrapper img {
        width: 370px;
    }
    .presentation_wrapper .bmw {
        width: 770px;
    }
    .presentation_wrapper {
        grid-template: 255px 255px 40px/ repeat(3, 370px);
        gap: 30px;
    }
    .one_person_text {
        width: 370px;
    }
    .one_person_btn {
        display: none;
    }
    .media {
        display: block;
        grid-column: 2 / 3;
    }
    .one_price {
        padding-top: 0;
    }
    .services_cards {
        grid-template: 1fr / repeat(auto-fill, minmax(288px, 460px));
    }
    .sub_ul {
        top: 181px;
    }
}

@media (max-width: 1475px) {
    .card_item:last-child {
        grid-column: span 2;
        margin-top: 15px;
    }
    .years_old {
        grid-template: 1fr 1fr/ 705px;
        justify-content: center;
    }
    .years_subscribe {
        display: grid;
        text-align: center;
        margin-top: 15px;
    }
    .years_subscribe button {
        margin: 10px auto;
    }
}

@media (max-width: 1447px) {
    .super_girl {
        margin-top: 0;
        grid-column: 1;
        justify-self: center;
    }
    .loyalty_img_midlle {
        margin-top: 15px;
        grid-template: 215px 251px / repeat(2, 215px);
    }
    .sub_block {
        grid-auto-flow: row;
        justify-content: center;
    }
    .sub_block button {
        margin-top: 10px;
        justify-self: center;
    }
    .footer_card {
        position: relative;
        display: block;
        bottom: 0;
        margin-top: 15px;
    }
}

@media (max-width: 1295px) {
    .gallery-item {
        max-width: 869px;
    }
} 

@media (max-width: 1250px) {
    .presentation_wrapper {
        grid-template: minmax(100px, auto) 370px 300px minmax(100px, auto) 50px/ minmax(400px, 1fr) minmax(400px, 1fr);
        gap: 10px;
        grid-auto-flow: column;
        justify-items: center;
    }
    .presentation_title li {
        font-size: 30px;
    }
    .bmw {
        grid-column: auto;
        margin: auto;
        grid-column: span 2;
    }
    .media {
        grid-column: span 2;
    }
    .one_person_text {
        width: 100%;
        text-align: center;
    }
    .one_person {
        grid-column: span 2;
    }
    .img_carmen {
        grid-row: 3 / 3;
        grid-column: 2 / 2;
    }
    .one_price {
        grid-column: span 2;
    }
}

@media (max-width: 1100px) {
    .catalog li {
        display: none;
    }
    .catalog li:first-child {
        display: block;
    }
    .catalog:last-child {
        display: block;
    }
    .card_item:last-child {
        display: block;
    }
    .block_ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .footer_top {
        grid-template: 1fr / 1fr 1fr;
        justify-items: center;
    }
    .catalog li:first-child::after {
        display: block;
    }
}

@media (max-width: 1045px) {
    .container {
        max-width: 1045px;
    }
    .input_block input {
        width: 240px;
    }
    .gallery img:nth-child(2) {
        display: none;
    }
    .gallery img:nth-child(8) {
        display: none;
    }
   
}

@media (max-width: 983px) {
    .card_item:last-child {
        grid-column: auto;
        margin-top: 15px;
    }
    .card_item:nth-child(2) {
        margin-top: 15px;
    }
    .reviews_card:last-child {
        display: none;
    }
    .gallery-item {
        max-width: 669px;
    }
}



@media (max-width: 965px) {
    .container {
        max-width: 965px;
    }
    .header_main {
        grid-template-rows: 2fr 1fr 1fr;
    }
    .tel_text {
        display: none;
    }
    .tel_number {
        font-size: 14px;
        line-height: 30px;
    }
    nav button {
        height: 30px;
    }
    .input_block input {
        height: 30px;
    }
    .search {
        padding: 6px 15px;
    }
    .tel_block {
        grid-auto-flow: row;
    }
    .tel_block button {
        margin-left: 0;
    }
    .header_top ul a {
        font-size: 10px;
    }
    .record_test {
        grid-template: 189px 72px / 1fr;
    }
    .record_test img {
        display: none;
    }
    h1 {
        grid-column: span 2;
        justify-self: center;
        margin-left: 0;
    }
    .record_test button {
        grid-column: span 2;
        margin-left: 0;
        justify-self: center;
    }
    .button_block {
        display: grid;
    }
    .button_block button{
        width: 288px;
        margin-bottom: 10px;
    }
    .button_block button:nth-child(2){
        width: 288px;
    }
    .button_block button:nth-child(3){
        width: 288px;
    }
   /* .gallery_img {
    width: 40px;
    height: 40px;
    } */
    .loyalty_title {
        font-size: 32px;
    }
}


@media (max-width: 880px) {
    .main_logo {
        width: 128px;
        height: 11px;
    }
    .header_footer {
        grid-auto-flow: row;
        row-gap: 10px;
        justify-items: center;
    }
    .header_footer_inner {
        padding: 10px;
    }
    .reviews {
        display: grid;
        text-align: center;
    }
    .reviews img {
        justify-self: center;
    }
    .presentation_wrapper {
        grid-template: minmax(100px, auto) 270px 200px minmax(100px, auto) 50px/ minmax(300px, 1fr) minmax(300px, 1fr);
    }
    .presentation_wrapper .bmw {
        width: 540px;
    }
    .presentation_wrapper img {
        width: 270px;
    }
    .presentation ul {
        margin-bottom: 40px;
        grid-auto-flow: row;
    }
    .presentation_title li:nth-child(2)::before {
        display: none;
    }
    .presentation_title li:nth-child(2)::after {
        display: none;
    }
}

@media (max-width: 760px) {
    .loyalty_title {
        font-size: 24px;
    }
    .loyalty_subtitle {
        font-size: 15px;
    }
    .sub_block {
        justify-content: start;
    }
    .sub_block button {
        justify-self: start;
    }
    .years_old {
        grid-template: 205px 1fr/ 310px;
    }
    .years_old img {
        width: 320px;
    }
    .gallery_img {
        width: 30px;
        height: 30px;
    }
    .gallery-item {
        max-width: 569px;
    }
}

@media (max-width: 700px) {
    .header_top {
        min-height: 104px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 66px 1px 38px;
        padding: 15px;
    }
    .logo {
        grid-row: 1;
        grid-column: 2;
        justify-self: center;
    }
    .header_top_text {
        display: none;
    }
    nav {
        display: none;
    }
    ul {
        display: none;
    }
    .burger_menu {
        display: flex;
        grid-row: 1;
    }
    .btn_phone {
        display: grid;
        grid-row: 1;
        justify-self: end;
    }
    .header_top_hr {
        display: block;
    }
    .mini_ul {
        display: grid;
    }
    .mini_ul li a {
        font-size: 12px;
    }
    .gallery img:nth-child(3) {
        display: none;
    }
    .gallery img:nth-child(7) {
        display: none;
    }
    .presentation ul {
        display: block;
    }
    .footer_top {
        grid-template: 1fr 1fr/ 1fr;
    }
    .block_ul .catalog {
        margin-top: 15px;
    }
    .block_ul {
        grid-template-rows: repeat(4, 35px);
    }
    .footer_top {
        grid-template: 250px 1fr/ 1fr;
    }
}

@media (max-width: 650px) {
    .presentation {
        padding: 30px 10px;
    }
    .presentation_title {
        height: 150px;
    }
    .presentation_wrapper {
        grid-template: 110px 340px 170px 290px 50px/ 300px;
    }
    .presentation_wrapper .bmw {
        grid-row: 1 / 1;
        grid-column: 1;
        width: 310px;
        height: 205px;
    }
    .one_person {
        position: relative;
        grid-row: 2;
        margin-top: 40px;
        grid-column: 1;
        z-index: 1;
        background: #fff;
    }
    .one_person_text {
        width: 288px;
       grid-column: 1;
    }
    .one_person_text h2 {
        font-size: 24px;
    }
    .one_person_text h3 {
        margin-top: 3px;
        margin-bottom: 5px;
    }
    .media {
        grid-row: 5;
    }
    .img_sale {
        display: none;
    }
    .one_price {
        grid-row: 4;
    }
    .presentation_wrapper img {
        grid-column: 1;
        position: relative;
        z-index: 0.5;
        width: 320px;
    }
    .one_price {
        grid-column: 1;
        margin-top: -45px;
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .gallery-item {
        max-width: 410px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 32px;
        line-height: 42px;
        width: 244px;
    }
    .card_item img {
        width: 288px;
    }
    .small_img {
        display: block;
    }
    .loyalty_img_midlle{
        display: none;
    }
    .loyalty_photo img {
        width: 139px;
    }
    .loyalty_photo {
        grid-template: 139px 139px / 139px 139px;
        gap: 10px;
    } 
    .super_girl {
        grid-column: 2;
    }
    .sub_block button {
        display: none;
    }
    .loyalty_program .loyalty_media_btn {
        display: block;
        width: 288px;
        margin: 0 auto;
        margin-top: 15px;
    }
    .loyalty_program {
        padding: 20px 0;
    }
    .reviews_card:nth-child(2) {
        display: none;
    }
    .reviews_cards {
        grid-template: none;
    }
    .reviews_card {
        width: 288px;
    }
    .reviews_buttons {
        display: none;
    }
    .gallery-item {
        max-width: 310px;
    }
}

@media (max-width: 400px) {
    .container {
        max-width: 400px;
    }
    .header_main {
        min-height: 0;
        grid-template-rows: 220px auto 64px;
        background: none;
    }
    .header_top {
        width: 288px;
    }
    .record_test {
        grid-template: 89px 72px / 1fr;
        background: url("../img/main_bg.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .record_test button {
        width: 214px;
        height: 37px;
        font-size: 12px;
        line-height: 16px;
    }
    h1 {
        margin-top: 15px;
        text-align: center;
        font-size: 24px;
        line-height: 29px;
    }
    .button_block {
        padding-top: 10px;
        width: 100%;
        background: #000000;
        justify-content: center;
    }
    .button_block button {
        font-size: 12px;
        line-height: 16px;
        width: 270px;
        margin-right: 0;
    }
    .button_block button:nth-child(2){
        width: 270px;
    }
    .button_block button:nth-child(3){
        width: 270px;
    }
    .presentation {
        grid-template-columns: 300px;
    }
    .presentation_title li {
        font-size: 24px;
        width: 278px;
        margin-right: 0;
    }
    .presentation_wrapper .bmw {
        width: 288px;
    }
    .presentation_wrapper img {
        width: 288px;
    }
    .gallery {
        background: rgba(206, 206, 206, .8);
        height: 100%;
        max-width: 400px;
    }
    .gallery_img {
        width: 300px;
    }
    .gallery_img {
        width: 30px;
        height: 30px;
    }
    .gallery_btn img {
        width:7px;
        height: 14px;
    }
    .loyalty_photo {
        grid-template: 139px 139px / 139px 139px;
    }
    .loyalty_photo img {
        width: 139px;
    }
    .bump_img {
        display: none;
    }
    .two_cars {
        grid-template-columns: 1 / 1;
        grid-template-rows: 2 / 2;
    }
    .years_subscribe {
        padding: 0 10px;
        margin: 0 auto;
        margin-top: -80px;
        background-color: #fff;
        width: 288px;   
    }
    .years_old button {
        width: 268px;
    }
    .years img {
        width: 288px;
    }
    .slick-prev {
        margin-left: 25px;
    }
    .slick-next {
        margin-right: 25px;
    }
    .footer_bottom_text {
        display: none;
    }
    .dealership button {
        width: 268px;
        background: #494949;
    }
    .dealership button::after {
        content: '';
    }
    .block_ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 50px);
    }
    .block_ul li:first-child {
        margin-bottom: 0;
    }
}

    @media (max-width: 320px) {
        .gallery {
            max-width: 288px;
        }
    }


